@import "tailwindcss";

:root {
  font-family: 'Montserrat';
  letter-spacing: 0;
}

@theme {
  --tw-leading: 100%;

  /*    Brand    */
  --color-primary: #0b1245;
  --color-secondary: #98be2a;

  /*    Text     */
  --color-on-dark: #000000;
  --color-on-light: #ffffff;
  --color-neutral: #848383;
  --color-muted: #a6a5a5;
  --color-subtle: #74789f;
  
  /*    Accents    */
  --color-promotion: #ff0008;
  --color-link: #3e77aa;
  --color-error: #fe4343;
  --color-premium: #fef74c;
}
