@import "tailwindcss";

@theme {
  /*    Variable to set all line heights to 100%    */
  --tw-leading: 100%;

  /*    Brand    */
  --color-primary: #0b1245;           /* dark blue   */
  --color-secondary: #98be2a;         /* light green */

  /*    Text     */
  --color-on-dark: #000000;           /* black       */
  --color-on-light: #ffffff;          /* white       */
  --color-neutral: #848383;           /* dark gray   */
  --color-muted: #a6a5a5;             /* light gray  */
  --color-subtle: #74789f;            /* dusky blue  */

  /*    Accents    */
  --color-promotion: #ff0008;         /* light red   */
  --color-link: #3e77aa;              /* blue        */
  --color-error: #fe4343;             /* coral red   */
  --color-premium: #fef74c;           /* yellow      */

  /*    Hovers/Clicks    */
  --color-hover-primary: #34395b;     /* sapphire blue  */
  --color-hover-secondary: #c0e74f;   /* yellow green   */
  --color-hover-premium: #fffa85;     /* sand yellow    */
}
