@import "tailwindcss";

@import "./themes.css";
@import "./utilities.css";
@import "./animations.css";
@import "./scrollbar.css";
@import "./fonts.css";

@layer base {
  :root {
    --scroll-offset: calc(var(--top-offset) + var(--tabs-height));
  }

  html {
    scroll-behavior: smooth;
  }

  html,
  body,
  :root {
    background-color: var(--color-neutral-50);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .modal-content button,
  .modal-content a,
  .modal-content span,
  .modal-content input::placeholder {
    transform: translateZ(0);
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px
      color-mix(in srgb, var(--color-accent-hover) 20%, transparent) inset;
    box-shadow: 0 0 0px 1000px
      color-mix(in srgb, var(--color-accent-hover) 20%, transparent) inset;
    transition: background-color 9999s ease-out 0s;
  }

  .product-slide {
    width: calc(
      100% / var(--countSlides) - var(--countSlidesOffset, 30%) /
        var(--countSlides) / var(--countSlides)
    );
  }

  .label {
    position: relative;
    width: 100%;
  }

  .label span {
    position: relative;
    padding-right: calc(var(--spacing) * 4);
    background-color: var(--color-background);
  }

  .label::before {
    content: "";
    position: absolute;
    left: 0;
    display: none;
    bottom: var(--spacing);
    width: 100%;
    border-bottom: 1px dotted var(--color-neutral-200);
  }

  @media (min-width: 768px) {
    .label::before {
      display: block;
    }
  }
}

@layer components {
  .cn-toast {
    @apply rounded-md border bg-white px-4 py-3 font-sans text-sm text-red-600 shadow-lg;
  }
}
